{% extends "main/main_el.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      {% for o in orders %}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <span class="card-title center_content">{{ o.order_name }}</span>
            <p class="center_content">{{ o.main_food }}</p>
            <p class="center_content">{{ o.drink }}</p>
              {% for ai in o.additional_items.all %}
                <p class="center_content"> {{ ai }}</p>
              {% endfor %}
            </p>
          </div>
          <div class="card-action center_content">
            <a href="{{ o.id }}/delete">Done</a>
            <a href="{{ o.id }}/details">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}